extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    +box-head('DANH SACH SAN PHAM')

    .row.mx-auto
        each item in products
            .card(style='width: 14rem;' class="col-4")
                    img.card-img-top.img(src=item.thumbnail alt=item.title )
                    .card-body
                        h5.card-title #{item.title}
                        p.card-text #{item.description}
                        .d-flex.justify-content-between 
                            span.price-new.text-primary $#{item.priceNew}
                            span.price-old $#{item.discountPercentage}
                            span.price-discountPercentage -#{item.discountPercentage}
                        a.btn.btn-primary(href='#') Go somewhere
